@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;

  --color-sage: #6c765d;
  --color-leaf: #a3b153;
  --color-rose: #ebb5b2;
  --color-cream: #fbf6e3;
  --color-white: #ffffff;
}